@charset "UTF-8";
/* Заголовок 1 */
.title-text {
  font-size: 18px;
  color: #E2E2E2;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif; }

.title-line {
  margin-top: 5px;
  width: 40%;
  height: 4px;
  border-radius: 100px;
  background-color: #FF7008; }

/*------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------HEADER START --------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/
.header {
  /* «включаем» FlexBox режим */
  display: flex;
  /* Размещаем элементы внутри шапки */
  justify-content: space-between;
  /* Выравниваем элементы вертикально посередине*/
  align-items: center;
  /* Делаю отступы */
  padding: 15px 94px 15px 94px;
  background-color: #191F25; }

.header-left {
  align-items: center;
  display: flex;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif; }

.header-logo {
  display: flex;
  width: 61px;
  height: auto; }

.header-logo img {
  display: flex;
  width: 100%; }

.header-names {
  margin-left: 29px;
  display: flex;
  flex-direction: column; }

.header-names .name {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold; }

.header-names .sub-name {
  font-size: 16px;
  font-weight: bold;
  color: #868686; }

/* Стилизация меню */
.header-center ul li {
  margin-left: 30px;
  display: flex;
  float: left; }

/* Убираю отступы для первого элемента */
.header-center ul .first {
  margin-left: 0; }

/* Делаю выезжающую линию при наведении */
.header-center ul li a {
  color: #cacaca;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif; }

.header-center ul li a:hover {
  color: #8ac832;
  transition: 0.3s; }

.header-center ul li a:after {
  display: block;
  border-radius: 100px;
  left: 0;
  /*изменить на right:0;, чтобы изменить направление подчёркивания */
  width: 0;
  /*задаём длинну линии до наведения курсора*/
  height: 3px;
  /*задаём ширину линии*/
  background-color: #8ac832;
  /*задаём цвет линии*/
  content: "";
  transition: width 0.3s ease-out;
  /*задаём время анимации*/ }

.header-center ul li a:hover:after,
.header-center ul li a:focus:after {
  width: 100%;
  /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/ }

.header-right {
  display: flex;
  flex-direction: row;
  align-items: center; }

.header-right .login {
  cursor: pointer;
  color: #cacaca;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif; }

.header-right .login:hover {
  color: #8ac832; }

.header-right .registration {
  cursor: pointer;
  margin-left: 50px;
  padding-right: 40px;
  color: #cacaca;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif; }

.header-right .registration:hover {
  color: #8ac832; }

.header-right .donate {
  outline: none;
  border: none;
  padding: 8px 40px 8px 40px;
  color: #ffffff;
  background-color: #17BD22;
  font-size: 14px;
  border-radius: 3px;
  font-weight: 400;
  font-family: 'Roboto Condensed', sans-serif; }

/* Media-запросы */
@media (max-width: 1000px) {
  .header {
    /* Изменяем направление оси в шапке на вертикальное */
    flex-direction: column;
    /* Выравниваем элементы в «шапке» влево */
    align-items: flex-start; } }
/*------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------- HEADER END ---------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------- SIDEBAR START -------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/
.sidebar {
  display: flex;
  flex-direction: column;
  float: right;
  margin-right: 94px;
  width: 20%;
  padding: 60px 0 60px 0;
  min-height: 1300px;
  background-color: #2D3944;
  color: #fff; }

.stats-block {
  padding-left: 24px;
  padding-right: 24px;
  justify-content: space-between;
  display: flex;
  float: left; }

.online {
  align-items: center;
  display: flex; }

.online .pulse-circle {
  width: 9px;
  height: 9px;
  background-color: #17BD22;
  border: 2px solid #179720;
  border-radius: 100px; }

.online-texts {
  margin-left: 10px; }

.online-texts .num {
  color: #17BD22;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px; }

.online-texts .text {
  margin-top: 3px;
  color: #435365;
  font-weight: 400;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px; }

.publications {
  align-items: center;
  display: flex; }

.publications .pulse-circle {
  width: 9px;
  height: 9px;
  background-color: #FF7009;
  border: 2px solid #E26408;
  border-radius: 100px; }

.publications-texts {
  margin-left: 10px; }

.publications-texts .num {
  color: #FF7009;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px; }

.publications-texts .text {
  margin-top: 3px;
  color: #435365;
  font-weight: 400;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px; }

.users {
  display: flex;
  align-items: center; }

.users .pulse-circle {
  width: 9px;
  height: 9px;
  background-color: #1F86FF;
  border: 2px solid #1D79E4;
  border-radius: 100px; }

.users-texts {
  margin-left: 10px; }

.users-texts .num {
  color: #1F86FF;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px; }

.users-texts .text {
  margin-top: 3px;
  color: #435365;
  font-weight: 400;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px; }

/* Категории */
.categories {
  flex-direction: column;
  margin-top: 47px;
  display: flex; }

.categories .wrapper {
  flex-direction: column;
  margin-top: 16px;
  width: 100%;
  display: flex;
  height: auto; }

.categories .title {
  margin-left: 24px; }

.category {
  background-color: #212831;
  cursor: pointer;
  align-items: center;
  display: flex;
  padding: 15px 24px 15px 24px;
  transition: 0.1s; }

.category:hover {
  background-color: #2D3944; }

.category .name {
  margin-left: 21px;
  color: #EFEFEF;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px; }

/*------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------- SIDEBAR END ---------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------- FOOTER START --------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/
.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 26px 94px 26px 94px;
  background-color: #191E24; }
  .footer .brand {
    align-items: center;
    display: flex; }
    .footer .brand .logo {
      width: 75px;
      height: 75px; }
      .footer .brand .logo img {
        width: 100%;
        height: 100%; }
    .footer .brand .names {
      margin-left: 19px; }
      .footer .brand .names .namee {
        color: #ffffff;
        font-weight: bold;
        font-size: 18px; }
      .footer .brand .names .sub-namee {
        color: #868686;
        font-weight: bold;
        font-size: 18px; }
  .footer .text {
    margin-top: 17px;
    display: flex;
    width: 40%;
    font-size: 18px;
    font-weight: 400;
    color: #868686; }

.under-footer {
  align-items: center;
  display: flex;
  background-color: #0E1013;
  padding: 10px 94px 10px 94px; }
  .under-footer .author {
    color: #ffffff; }
  .under-footer .email {
    margin-left: 10px;
    color: #22E95A; }
  .under-footer .donate {
    cursor: pointer;
    margin-left: 64px;
    background-color: #5A00FF;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    padding: 6px 31px 6px 31px; }

/*------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------- FOOTER END ----------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/

/*# sourceMappingURL=components.css.map */
